@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    letter-spacing: -0.03em;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    @apply hidden;
  }

  .tinyscroll::-webkit-scrollbar {
    @apply w-[0.375rem];
  }
  .tinyscroll::-webkit-scrollbar-track {
    @apply rounded-full bg-slate-200;
  }
  .tinyscroll::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-400;
  }

  .section-wrapper {
    @apply relative flex h-fit min-h-dvh flex-col;
  }

  .content-wrapper {
    @apply z-10 m-auto flex max-w-[80rem] px-8 py-16 lg:px-[4.75rem] lg:py-[6rem];
  }

  .tooltip {
    @apply invisible absolute transition-all duration-75 ease-in-out;
  }

  .has-tooltip {
    @apply relative;
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  .home-gradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      190deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(229, 219, 255, 1) 100%
    );
  }

  .form-label {
    @apply flex py-1 text-sm font-medium text-primary-low;
  }

  .form-input {
    @apply w-full rounded-md border border-transparent bg-slate-100 px-4 py-3 text-base font-normal text-slate-900 focus:border-transparent focus:outline-none focus:ring-1 focus:ring-primary-dark;
  }
  .form-error {
    @apply text-sm text-error-base;
  }
}
